table {
    background-color: #ffffff00;
    border-radius: 5px;
    border-color: rgb(81, 81, 81) 1px solid !important;
}

th {
    background: rgba(0, 0, 0, 0) !important;
    border-color: rgb(81, 81, 81) !important;
    border-style: solid !important;
    border-width: 1px 0 !important;

    padding: 16px !important;
}

th > div > span {
    font-weight: bolder !important;
}

td {
    background: rgba(255, 255, 255, 0) !important;
    padding: 24px 16px !important;
}

div > .column-header-name {
    color: #fff;
}

tbody:last-child {
    border-start-start-radius: 5px;
}

tr > td {
    border-color: rgb(81, 81, 81) !important;
    border-style: solid !important;
    border-width: 1px 0 !important;
}

tr > td > div {
    color: #fff;
}

tr {
    background: #ffffff00 !important;
}

tr:hover {
    background: #ffffff4d !important;
}

th > input {
    color: #fff !important;
}

th > input::placeholder {
    color: rgb(179, 179, 179) !important;
}

.previous-next-container {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #fff;
}

.previous-next-container > button {
    background-color: rgba(255, 255, 255, 0) !important;
}

.previous-next-container > button > svg {
    color: #fff;
}

.previous-next-container > button:disabled > svg {
    color: rgb(139, 139, 139);
}
.previous-next-container > button:disabled:hover > svg {
    color: rgb(139, 139, 139);
}

.previous-next-container > button:hover > svg {
    color: rgb(185, 185, 185);
}

.dash-cell-value > p > img {
    height: 24px;
    width: 24px;
    color: #fff;
    fill: #fff;
}

.cell-markdown > p {
    margin: 0;
}
